name: SonarCloud analysis

on:
  push:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Télécharger le code
        uses: actions/checkout@v4

      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Lancer Maven (master = avec tests, dev = sans tests)
        run: |
          if [ "${{ github.ref_name }}" = "dev" ]; then
            mvn clean verify -DskipTests -e
          else
            mvn clean verify -e
          fi

      - name: Analyse SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


